body{
    margin: 0;
    padding: 0;
}
.top{
display: flex;
flex-direction:column;
/* position:relative; */
}
.topcontact{
    display: flex;

}
.index_contact{
    background-color: #293462;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    /* position: fixed; */
}
/* .appointment{
    display: flex;
} */
.phem{
    margin: 3px;
    transition: all .5s ease;
    color: #fff;
    border: 0px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 12px;
    background-color : transparent;
    padding: 4px;
    outline: none;
    border-radius:3px;
}

.phem:hover {
    color: #001F3F;
    background-color: #fff;
}


/* .tax{
    width: 100%;
    height:600px;
} */

.container {
  /* width: 100%;
  max-width: 1440px; */
  /* margin: 0 auto;
  padding: 0 15px; */
}
/* .header-area {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
  url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
  background-position: center center;
  background-size: cover;
} */
/* default css end */


/* navbar regular css start */
.navbar-area {
  background: rgba(255, 255, 255, 0.6);
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  margin: 0;
  /* position:fixed; */
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: rgb(0, 0, 0);
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background:#303df73b;
  border-radius: 5px;
}
/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
  border: 5px  rgb(0, 0, 0);
  padding: 5px;
  background-color: transparent;
  cursor:pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */


/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler{
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position:fixed;
    width: 50%;
    height: calc(100vh - 60px);
    left: 5px;
    top: 60px;
    flex-direction: column;
    align-items:flex-start;
    /* border-top: 1px solid #444; */
    background-color: rgba(255, 255, 255, 0.75);
    max-height:100px;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width:100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color:#303df73b;
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  /* navbar css for mobile end */
}
/* mobile breakpoint end */

.top2{
    margin-top: 115px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
}
.top2::before{
  content: "";
  width:100%;
  height:600px;
  position:absolute;
  top:85px; 
  background-image: url(/taxservice/images/tax.jpg);
  background-size:100%;
  background-repeat: no-repeat;
  opacity:70%;
  
}
.top2p{
    font-size:5vw;
    margin: 5px 5px 5px 50px;
    font-weight:900;
    font-family: Montserrat, sans-serif;
    z-index:+1;
    position:relative;
}
span{
    color:#303ef7;
}

.button-3 {
  appearance: none;
  background-color: #000000;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color:#303ef7;
}

.button-3:focus {
  box-shadow: #303ef7 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color:#303ef7
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

.middle {
  margin:100px 0 0 0;
  width: 100%;
  height: 100%;
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0.4934567577030813) 0%, rgba(48,62,247,0.5354735644257703) 100%);
}

.middle h1 {
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}

.middle h1::after {
  content: '';
  background:#303ef7;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.service {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.service i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #303ef7;
}

.service h2 {
  font-weight: 600;
  margin-bottom: 8px;
}

.service:hover {
  background: #303ef7;
  color: #fff;
  transform: scale(1.00);
  /* margin: 0 0 10px 0; */
}

.service:hover i {
  color: #fff;
}

.bottom{
  margin: 0;
  height: 500px;
  background-color: f;
}